# Ignore development code and tests
src/
tests/
.vitest/
coverage/
*.test.js

# Ignore build and dev configs
esbuild.config.mjs
obfuscator.config.json
vitest.config.*
package-lock.json

# Ignore secrets and local environment files
.env*
!.env.production  # Allow only the production config
*.log

# Git files
.git/
.gitignore

# Local SQLite databases
*.db
!/data/prod.db  # Only allow production DB if explicitly included
