# Ignore development code and tests
src/
tests/
.vitest/
coverage/
*.test.js

# ...except for needed files
!src/app.js
!src/db/schema.sql

# Ignore build and dev configs
obfuscator.config.json
vitest.config.*

# Ignore secrets and local environment files
.env*
!.env.production  # Allow only the production config
*.log

# Git files
.git/
.gitignore

# Local SQLite databases
*.db
!/data/prod.db  # Only allow production DB if explicitly included
