# Build and obfuscated output
dist/
*.obfuscated.js
*.obfuscated.js.map
casazium-license  # compiled binary

# Docker artifacts
package.production.json

# Node.js
node_modules/

# Test and coverage output
coverage/
.vitest/
*.test.js

# Local/IDE
*.log
*.swp
.DS_Store

# Local dev database and environment files
.env*
*.db

.coveralls.yml